[2015-05-22 07:31] m1ci opened #1 "NIF JSON-LD is not accepted as input"
NIF json-ld as input is not accepted

[2015-05-22 07:33] m1ci opened #2 "problem with special characters"
Input:

[code]

Output

[code]

[2015-05-22 07:34] m1ci opened #3 "problem with newlines"
Input:

[code]

Output:

[code]

[2015-05-22 07:36] m1ci opened #4 "problems with very long input"
Input

[code]

Output

[code]

[2015-05-22 07:37] m1ci opened #5 "problem with POST and short text with quotes"
This test contains escaped quotes and linebreaks, as described as """long literal""" in the
(turtle spec)[http://www.w3.org/TeamSubmission/turtle/#sec-tutorial].

Output:

[code]

[2015-05-22 07:38] m1ci opened #6 "explain confidence parameter in Broker API calls wiki"
confidence parameter has no explanation in Broker API Calls.

[2015-05-22 07:39] m1ci opened #7 "make the DBpedia spotlight confidence parameter optional"
make the confidence parameter optional and provide a good default value

[2015-05-22 07:40] m1ci opened #8 "Can we make the confidence parameter optional and provide a good default value?"
@jnehring Yes, we can. Created an enhancement issue for this. #7

[2015-05-22 07:45] m1ci opened #9 "P3: Filter NIF log messages"
This is e-Entity related feature, and I do not see reason this to be part of the ConversionServices. BTW, log messages are good for debugging, also there provide very useful metadata information.

[code]

I wouldn't call this noise. But, yes, we can implement such `logging` parameter. Let's see what other say.

[2015-05-22 08:55] #8 closed, assigned to m1ci

[2015-05-26 15:08] #1 closed, assigned to m1ci

[2015-05-26 15:08] #2 closed, assigned to m1ci

[2015-05-26 15:08] #3 closed, assigned to m1ci

[2015-05-26 15:08] #4 closed, assigned to m1ci

[2015-05-26 15:09] #5 closed, assigned to m1ci

[2015-05-26 15:09] #7 closed, assigned to m1ci

[2015-05-26 15:10] #6 closed, assigned to m1ci

[2015-05-27 09:53] jnehring opened #10 "informat / Content-Type header should not be required parameter"
When I use the example from Broker API Calls Wiki

[code]

Then the API call fails with message "Neither informat/i param nor the Content-Type header were set". According to NIF API specifications these parameters have a default value of text/turtle so it should fail due to input is not in format text/turtle. So please
- Do not implement your own input validation but use the NIFParameterSet / NIFP

[2015-05-27 12:47] jnehring opened #11 "prefix parameter is not used by e-Entity"
POST http://localhost:2080/e-entity/dbpedia-spotlight?confidence=0.3&input=Welcome+to+Berlin.&informat=text produces the following RDF resource. The resource URI prefix should be http://freme-project.eu/... When I add &prefix=http://freme-project.eu to the call then the prefix in the NIF does not change.

[code]

[2015-05-28 13:06] pheyvaer opened #12 "Specification"
## Second Prototype
- convert HTML-files to EPUB3
  - input
    - zip-file
      - HTML, CSS, images, video, audio, JavaScript
    - metadata parameters (JSON object)
      - table of contents (JSON object; optional; if not specified we do a best effort to generate TOC)
      - path to cover image in the zip-file.
  - output
    - EPUB-file
## Future Prototype
- convert NIF to HTML (using schema.o

[2015-06-01 07:34] #12 closed, assigned to nobody

[2015-06-03 14:19] m1ci opened #13 "Support for additional languages"
Add support for the following languages: English, German, French, Spanish - if time and resources permits we will also include include Dutch and Italian.

The `language` parameter will be optional with default value set to English (`en`). The possible values of the parameter will be: `en`, `de`, `fr`, `es`

To this end, we will implement novel NER engine. This is an enhancement with highest priori

[2015-06-03 14:20] m1ci opened #14 "Support for integration of external KBs (datasets)"
This includes following features:
##### Feat 1: Upload of a dataset: a user could upload a SKOS dataset containing entity labels.

**Request:**

[code]

**Response:**

[code]
##### Feat 2: Linking against a dataset: a user could upload a SKOS dataset containing entity labels.

[code]

**Response:**

[code]

[2015-06-03 14:21] m1ci opened #15 "Support for additional formats: N3, Ntriples, rdf/xml"
Following formats will be supported: `N3`, `Ntriples`, `rdf/xml`

[2015-06-03 14:22] m1ci opened #16 "Integration of additional NER engine (Entityclassifier.eu)"
Integrate Entityclassifier.eu (supports English, German, Dutch)
**Important: can be used for non-commercial purposes only!!!**

[2015-06-22 08:53] jnehring opened #17 "NIF in POST body is not recognised"
I send a request with URL

`http://localhost:2080/e-entity/dbpedia-spotlight?confidence=0.3&informat=text/turtle`

and body

[code]

and get response code 406 (Not acceptable)

There are two bugs:
- First the service should respond in the common error message format. You achieve this via throwing an exception
- Second I believe that the post body does not override paramter input.

Again I suggest

[2015-07-02 09:05] m1ci opened #18 "provide documentation for API v2"
https://github.com/freme-project/technical-discussion/wiki/Broker-API-Calls

[2015-07-05 19:58] #14 closed, assigned to m1ci

[2015-07-05 19:59] #18 closed, assigned to m1ci

[2015-07-05 19:59] #17 closed, assigned to m1ci

[2015-07-05 20:00] #15 closed, assigned to m1ci

[2015-07-05 20:02] #13 closed, assigned to m1ci

[2015-07-05 20:02] #11 closed, assigned to m1ci

[2015-07-05 20:03] #10 closed, assigned to m1ci

[2015-07-07 12:43] andish opened #19 "Every response returns content-type value 'text/plain;charset=UTF-8' not 'text/turtle'"
**Request**
POST /current/e-entity/dbpedia-spotlight/documents/?input=Riga+is+the+capital+and+the+largest+city+of+Latvia.&informat=text&language=en&outformat=text/turtle HTTP/1.1
Host: api-dev.freme-project.eu
**Response:**
Status 200 OK
Time    918 ms
Content-Type:  text/plain;charset=UTF-8

.....

[2015-07-07 12:48] andish opened #20 "DBpedia turtle-->turtle adds ‘undefined’ strings before object IDs:"
**Request**
POST /current/e-entity/dbpedia-spotlight/documents/?language=en HTTP/1.1
Host: api-dev.freme-project.eu
Content-Type: text/turtle

[code]

**Response:**
Status 200 OK
Time    643 ms
Content-Type:  text/plain;charset=UTF-8

Note: Content contains ‘undefinied’ strings before object IDs:

[code]

[2015-07-07 14:37] andish opened #21 "FREME NER: update dataset --> method PUT not allowed"
PUT /current/e-entity/freme-ner/datasets?language=en&name=tildeset&informat=n-triples HTTP/1.1
Host: api-dev.freme-project.eu

[code]

Access-Control-Allow-Methods → POST, GET, OPTIONS, DELETE

[2015-07-07 14:52] andish opened #22 "FREME NER: returns invalid turtle"
**Dataset:**

[code]

**Request:**
POST /current/e-entity/freme-ner/documents?informat=turtle&language=en&dataset=tildeset HTTP/1.1
Host: api-dev.freme-project.eu
Accept: text/turtle

[code]

**Response**
Status 200 OK
Time 169 ms
Content-Type → text/turtle;charset=UTF-8

[code]

[2015-07-08 06:43] andish opened #23 "DBpedia spotlight: is all linked objects real entities?"
Text to enrich:
**Riga is the capital and the largest city of Latvia.**

Result:

Riga --> itsrdf:taIdentRef --> http://dbpedia.org/resource/Riga
capital  --> itsrdf:taIdentRef --> http://dbpedia.org/resource/Capital_city
Latvia -->itsrdf:taIdentRef --> http://dbpedia.org/resource/Latvia

_Question:_
from the theory, the "capital" is not an entity.
Linking non-entities to different resources is jo

[2015-07-10 08:56] #20 closed, assigned to nobody

[2015-07-14 01:11] nilesh-c opened #24 "FREME NER: Service goes down after too many requests"
Akka problem - actors are not being stopped, eventually opening too many threads and OOMing. Easy fix.

[2015-07-14 12:49] jnehring opened #25 "NullPointerException in FREME NER"
I wanted to test FREME NER. I called

POST `http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?language=de&dataset=dbpedia&informat=text`

with post body `Welcome to Berlin`

and the response is

[code]

It works when I do not specify a post body and submit the input text in the query string.

[2015-07-16 11:37] #25 closed, assigned to cirola2000

[2015-07-16 11:38] #19 closed, assigned to nilesh-c

[2015-07-17 07:59] jnehring opened #26 "P3: NullPointerException in dbpedia spotlight"
This API call produces a NullPointerException:

[code]

In class eu.freme.broker.eservices.DBPediaSpotlight I see in line 75 that only inputs submitted via query string are used as input. When the input is submitted via post body then the text passed to e-Entity is null which causes the NullPointerException.

[2015-07-20 13:17] #24 closed, assigned to nilesh-c

[2015-07-28 11:53] #23 closed, assigned to nobody

[2015-07-30 11:40] fsasaki opened #27 "data sets with the same name"
The URI for all data sets
http://api.freme-project.eu/0.2/e-entity/freme-ner/datasets/
gives you several data sets with the same name

[2015-08-05 05:17] fsasaki opened #28 "P3: FREME NER could give back several links after entity linking"
Currently FREME NER for entity linking just gives back the first entity identifier found. This leads to a lot of false positive, even after good entity classification, e.g.
Type: http://nerd.eurecom.fr/ontology#Location
Identifier: http://dbpedia.org/resource/Paris_(band)
If FREME NER would give back all matching identiefers the user could choose in a subsequent e-Link step, e.g. for the URIs that

[2015-08-05 10:06] ghsnd opened #29 "FREME NER response when dataset does not exist"
The `dataset` parameter is required when using FREME NER. When giving an unknown or unexisting dataset, the response is a `200 OK`, the entities are recognized, but not linked of course. Is this the way it should be, or should there an error response be returned (since a wrong dataset is given)?

[2015-08-05 10:54] #27 closed, assigned to nobody

[2015-08-10 22:47] x-fran opened #30 "Parameters from URL query processed by E-Entity"
I'm playing with this piece of code in zend framework 2.

[code]

And I have this back:

[code]

I'm doing something wrong?

[2015-08-11 12:26] #22 closed, assigned to andish

[2015-08-15 23:46] #21 closed, assigned to andish

[2015-08-16 01:24] #29 closed, assigned to nilesh-c

[2015-08-18 12:47] #30 closed, assigned to m1ci

[2015-08-18 21:12] m1ci opened #31 "P3: integration of FREME NER new features"
Features to integrate:
- `numLinks` parameter - number of links to be provided for each entity.
- integration of datasets directly from SPARQL endpoint. These includes two new parameters: `endpoint` and `sparql`

The features are already implemented in FREME NER. Pending their integration in e-Entity.

[2015-08-19 11:32] pheyvaer opened #32 "language required?"
Is the `language` parameter required for `/e-entity/dbpedia-spotlight/documents`? I've tested it without and it works. However, the documentation does not state that it is optional.

[2015-08-19 11:42] pheyvaer opened #33 "handling wrong language value"
When the `langauge` parameter has a value that is not correct (e.g., `zzzdfeekdlslldf`), it doesn't complain about that, and it just executes the call with the default value, I assume?

[2015-08-19 11:46] pheyvaer opened #34 "handling wrong confidence value"
If the value for `confidence` is not between 0 and 1, or when it is for example a word, the call does not fail. However, no entities are detected.

[2015-08-24 10:26] m1ci opened #35 "NullPointerException when nif:Context does not contain nif:isString"
The problem is documented here: https://github.com/freme-project/Broker/issues/81

Solution: if nif:Context does not contain nif:isString just skip this.

[2015-08-24 11:27] jnehring opened #36 "Wrong default value for parameter informat"
Parameter `informat` has default value `text` in `/e-entity/dbpedia-spotlight/documents`. It should be `turtle`. Please update the source code. When this is done then the documentation needs to be updated also.

[2015-08-24 11:34] jnehring opened #37 "URLs change"
This request

[code]

Produces wrong output. See snippet here:

[code]

The resource URI is changed from `http://example.org`to `http://freme-project.eu`. According to my understanding the base URL should be changed when `informat=text`.

[2015-08-24 11:36] jnehring opened #38 "Wrong URLs"
This request

[code]

produces this output (excerpt):

[code]

I believe the resource URI should be `http://freme-project.eu/#char=0,18` - note the `#`

[2015-08-24 11:55] #36 closed, assigned to nobody

[2015-08-24 11:56] #26 closed, assigned to m1ci

[2015-08-24 12:44] #38 closed, assigned to nobody

[2015-08-24 13:15] #37 closed, assigned to m1ci

[2015-08-24 14:06] m1ci opened #39 "[DBpedia-Spotlight] support for more languages"
Currently, DBpedia spotlight integrated in FREME supports only English. Extend DBpedia Spotlight also to other languages.

[2015-08-25 08:18] #31 closed, assigned to m1ci

[2015-08-25 08:22] #33 closed, assigned to nobody

[2015-08-25 08:23] #28 closed, assigned to nobody

[2015-08-25 08:24] #34 closed, assigned to nobody

[2015-08-25 08:30] #9 closed, assigned to nobody

[2015-08-25 09:35] #32 closed, assigned to nobody

[2015-08-25 21:14] #35 closed, assigned to m1ci

[2015-08-27 12:49] ghsnd opened #40 "Spotlight: NullPointerException"
When sending a request with plain text as input and give `json-ld` as informat (which is wrong of course), a `500 Internal Server Error` occurs.

Example:

[code]

gives

[code]

because in the code, a body is expected for json-ld contents (DBpediaSpotlight.java:100). Maybe the error message can be more informative.

[2015-08-27 16:15] x-fran opened #41 "\n in e-Entity name "nif:anchorOf""
I have something like this in my response:

'nif:anchorOf' => string 'Southern
        Europe' (length=23)

// The length of the string has to be 15. 14 letters and 1 space between words but the length is 23.

json encoded the value of "nif:anchorOf" is {"Southern\n        Europe"}

[2015-08-28 11:05] x-fran opened #42 "e-Entity 502 Bad Gateway with large content"
This is the link I'm using:

[code]

Sending large text I get 502 Bad Gateway

[code]

Same link but with only sending  "welcome to dublin" the response is 200 OK but with no entities.

[code]

To who I have to assign this kind of issues or any other questions?

[2015-08-31 12:40] #40 closed, assigned to m1ci

[2015-08-31 13:36] #42 closed, assigned to x-fran

[2015-08-31 18:46] #41 closed, assigned to x-fran

[2015-09-01 15:03] x-fran opened #43 "Unreliable Entities"
I'm testing e-Entity to find a way to get the most reliable entities from the content as fastest is posible.

Let's take as a example this well known piece of text.

[code]

Sending this text as it is we have in our response the issue that we've discussed here  https://github.com/freme-project/e-Entity/issues/41 and 48 entities back

[code]

A lot of entities right? But we have a lot of things tha

[2015-09-04 07:59] m1ci opened #44 "Assign topics to entities"
Enrich each named entity with list of topics. The list of topics will be derived from DBpedia which refer to `dcterms:subject` information. Output example:

[code]

This includes two actions:

1) process Wripl data and hand over the results back to Wripl for validation and feedback
  1.1) provide the data in TSV
  1.2) the data should contain only one record for each entity (remove duplicates)
2)

[2015-09-04 08:04] m1ci opened #45 "scoring mechanism for entity topics"
This action is follow up of https://github.com/freme-project/e-Entity/issues/44

We need to define mechanism for scoring topics assigned to each entity. Only topics which are most relevant for the entity/document should be part of the output.

[2015-09-08 12:31] m1ci opened #46 "support for external taxonomies"
This issue summarizes the efforts towards support for domain specific scenarios in e-Entity. Bellow is the initial email conversion provided by @koidl on Sep 4th 2015:

Wripl connect is a tool for financial analysts to identify key trends and developments in large open web content spaces.

The tool offers topic related 'visual cards' (See attachment). Each card representing a topic has specific te

[2015-09-10 08:10] jnehring opened #47 "Setup SPARQL endpoint on freme-worker"

[2015-09-16 14:13] #43 closed, assigned to x-fran

[2015-09-16 14:27] jnehring opened #48 "Very obvious wrong spotted entities"
FREME NER detects `(` as an entity in this text:

[code]

Excerpt from the response:

[code]

I wonder how that can happen. How is `(` related to the United States?

[2015-09-17 09:24] jnehring opened #49 "http://dbpedia.org/page/Not detected as entity"
Not is detected as entity. E.g. this call

[code]

produces this NIF:

[code]

When I look at http://dbpedia.org/page/Not and the corresponding wikipedia page http://en.wikipedia.org/wiki/Not then I wonder what kind of named entity this is. It seems that Not is a disambiguation page.

How about excluding disambiguation pages in general from the named entity detection? I think they will produce bad

[2015-09-18 10:40] #49 closed, assigned to m1ci

[2015-09-18 11:02] jnehring opened #50 "Feedback on topic detection"
@m1ci  wrote

@koidl the topics and associated weights and labels are already provided as part of the output. See
http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents/?informat=text&input=Berlin+is+in+Germany.&outformat=turtle&language=en&dataset=dbpedia&enrichement=dbpedia-categories

The categories information are not included by default. You need to add the enrichement=dbpedia-c

[2015-09-18 11:03] #44 closed, assigned to koidl

[2015-09-18 11:50] #47 closed, assigned to m1ci

[2015-09-23 07:34] #48 closed, assigned to nilesh-c

[2015-09-24 07:56] jnehring opened #51 "Smart Filters"
@koidl suggested in #48 to write smart filters that filter out wrong spottings. The original suggestion is to filter out everything with one character (see https://github.com/freme-project/freme-ner/issues/35) or non-alphanumerical characters.

This GitHub issue should move this topic forward.

Maybe a good first step is to collect some miss spottings that can be eliminated by such a filter?

One

[2015-09-24 12:50] #45 closed, assigned to m1ci

[2015-10-01 08:27] jnehring opened #52 "DBPedia Spotlight down?"
Since beginning of the week I have problems with DBPedia Spotlight endpoint.

http://api-dev.freme-project.eu/current/e-entity/dbpedia-spotlight/documents?confidence=0.3&input=This+is+Germany&informat=text&language=en produces

[code]

http://spotlight.sztaki.hu:2222/rest/annotate?text=First+documented+in+the+13th+century%2C+Berlin+was+the+capital+of+the+Kingdom+of+Prussia+%281701%E2%80%931918%29%

[2015-10-01 08:59] m1ci commented on #52
It seems its the DBpedia spotlight instance is down. It can be checked also via its GUI http://dbpedia-spotlight.github.io/demo/
Unfortunately, we don't maintain DBpedia spotlight so we cant do anything with this. I'll ping the maintainers if they can re-deploy it. This has been already reported https://github.com/dbpedia-spotlight/dbpedia-spotlight/issues/376

[2015-10-01 14:14] m1ci commented on #51
NOT spotted as entity

[2015-10-02 10:29] xFran commented on #51
Is there any possibility that dbpedia-spotlight may give you wrong entities back? I mean, dbpedia as 100% of the software is not bug free. Exclude not spotted only may not be enough.  Good idea but not enough.

[2015-10-02 10:40] m1ci commented on #51
Sure.

There are several way to approach the problem of wrong spotted entities:

Wrong spotted entities are usually not bugs but they are just spotted wrong because the trained model "thinks" the word(s) is an entity.

1) have a black list of wrong spotted entities - which should be excluded from the output. Since, in your data NOT is occurring very often and it is always spotted (wrong) as an ent

[2015-10-02 10:48] xFran commented on #51
Maybe also helps using a stop words list on your side. http://www.ranks.nl/stopwords. If you can implement this of course.  I don't know. Its your call.

[2015-10-02 10:51] m1ci commented on #51
can you please elaborate more on your idea? why you propose stopwords and how they can help?

[2015-10-02 10:54] xFran commented on #51
Basically is just take out from content all the words from stop words list before doing anything else.

[2015-10-02 11:03] m1ci commented on #51
Using stopwords is basically same as the idea 1)

"NOT" can be also an entity. Removing words such as "NOT", will influence "NOT" not being matched to entities such as https://en.wikipedia.org/wiki/Nordic_Optical_Telescope

In your web sites you may have texts including words such as "WARNING", "DISCLAIMER", etc. which also (I think) will be spotted as entities - but I think they won't be in the s

[2015-10-02 11:13] xFran commented on #51
Yes. You have your point here but always you can remove "NOT" from list or any other item if this helps somehow.
Anyway its just an idea.

[2015-10-02 12:41] jnehring commented on #51
Maybe its a good idea to implement smart filters / stop word lists first on the client side. Then WRIPL can experiment with the feature and see if it is useful. Then we can integrate it in FREME.

I think it is very easy to implement such a filter on the client.

If it is not useful, then it is easier to remove it from the client then to remove it from FREME. Also in FREME we write documentation,

[2015-10-09 08:50] jnehring commented on #52
It up again

[2015-10-09 08:50] #52 closed

[2015-10-09 09:15] jnehring commented on #16
I ask myself it is really useful to implement an NER engine that cannot be used for commercial purposes. Maybe it is out of scope in the FREME project. Also we already have two other NER engines.

Does entityclassifier.eu provide a benefit over FREME NER or DBPedia Spotlight?

[2015-10-09 09:19] m1ci commented on #16
well, it can be used for commercial purposes but the BC should pay for some of the underlying components. Note that, the Tilde's terminology system can't be used for commercial purposes too ;)
Also, I think DBpedia Spotlight is using components which should not be used in commercial purposes, but I think this is nowhere explicitly written and also not visible to the DBpedia spotlight clients.

Its

[2015-10-09 09:21] jnehring commented on #16
Ok I thought we might be able to close this issue quickly. We can continue the discussion when we specify FREME 0.5.

[2015-10-09 09:33] tatgor commented on #16
@jnehring "I ask myself it is really useful to implement an NER engine that cannot be used for commercial purposes" - fully support! Exploitation agreement is for this.

[2015-10-14 15:19] m1ci commented on #50
... waiting for feedback from @koidl and/or @xFran

[2015-10-14 19:33] fsasaki commented on #50
@koidl and/or @xFran, if you have feedback on this could you please provide it in this issue? Thanks.

[2015-10-15 21:18] xFran commented on #50
I'm busy right now. I have to write an app for Trinity College Dublin/FALCON Project. Soon as I have some time to implement topic detection in Wripl's application or Kevin has time to test it we will provide feedback.
Sorry about this guys.

[2015-10-16 11:08] xFran commented on #50
Ok. My other project is going well so, I may be able to take a look at this Monday.
Is there anything where I have to focus more my attention? Or just use some random text and check if the topics makes sense. Topic detection is working only for English? Maybe the last question it's a silly one. But hey! Is mine! :-)

Any suggestions please?
Thanks in advance.

[2015-10-16 12:13] jnehring commented on #50
I would suggest that you take text that is actually used by WRIPL and comes from one of the WRIPL domains, e.g. finance. It should be text where you have clear expectations what the topics are. I suggest you start with English text. I think it should work for all languages that FREME NER supports. So you can test other languages also as long as you understand them so you can judge if the topic det

[2015-10-16 14:25] xFran commented on #50
Ok @jnehring. I will try to do may best following your recommendations.
Regarding languages I can test in English, Spanish and Romanian but is not supported by NER engine I believe (it will be nice to have it in the future) and Kevin in German. Those are the languages we manage here.

Thank you.

[2015-10-16 14:44] m1ci commented on #50
Currently, entities can be enriched with categories only for entities spotted in English texts.
Note that the categories are retrieved from DBpedia. You can check all available categories for an entity by 1) visiting the DBpedia page for the entity and looking at dcterms:subject, or 2) query them via our Freme LDF endpoint at rv2622.1blu.de:5000/dbpedia-types

[2015-10-16 15:03] xFran commented on #50
Thank you for the note @m1ci.

[2015-10-19 10:42] xFran commented on #50
Hi all

I'm running some tests here. Please see the attached text file.

[test.txt](https://github.com/freme-project/e-Entity/files/15911/test.txt)

First cUrl command on FREME's production server
[code]

Response:
[code]
Second cUrl command on FREME's dev server
[code]
Response:
[code]
But the strange part here is that even the response is 200 OK I don't have any entity spotted.

I really hope I

[2015-10-19 10:58] jnehring commented on #50
@xFran

You discovered a bug in FREME NER and i created a bug report for this: https://github.com/freme-project/freme-ner/issues/47

But the problem lies within the `&input=&outformat=...` part of your request. The input parameter overwrites the post body. So you submit an empty string to enrichment. I could reproduce the bug and when i remove the bit `&input=` then it works.

[2015-10-19 10:58] xFran commented on #50
Second test

I'm using the same boxing articles as @jnehring used before.

FREME's production server
I get the same error. No changes here.

In FREME's development server
[code]

I get 3 entities and 11 categories not all related to boxing or sports but seems to make sense.

[2015-10-19 10:59] jnehring commented on #50
The category system is not deployed on production. Please use dev for testing.

[2015-10-19 11:02] xFran commented on #50
For the categories I used dev. I just wanted to see if any differences sporting entities between dev and prod.

[2015-10-19 12:21] m1ci commented on #50
@xFran
Your cURL is not OK. cURL by default sets the `Content-Type` header to `application/x-www-form-urlencoded` which is then incorrectly interpreted by the API. When calling the service set also the `Content-Type` header to an empty value using `-H "Content-Type:"`

    curl -v -d @test-2.txt "http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents/?informat=text&input=&outformat=j

[2015-10-19 12:38] xFran commented on #50
@m1ci
Still no entities.

[code]

cUrl fixed.

[2015-10-19 12:53] xFran commented on #50
Removing the first paragraph I get:

One entity

[code]

[2015-10-19 12:55] m1ci commented on #50
I believe this is related to the https://github.com/freme-project/freme-ner/issues/41 issue

[2015-10-19 13:10] jnehring commented on #50
Can you please move the discussion about getting no entities to a new GitHub issue? We should not mix up different topics in the same discussion.

[2015-10-19 13:39] xFran commented on #50
I can move it into another GitHub issue no probs.
This is about "Feedback on topic detection" I don't know if this is a bug and/or if is there any relations between the issues or just my fault because I mess up  things. We have nothing clear yet and I don't know the code and the workflow of your application either.
If you don't mind, can you or @m1ci open the GitHub issue please if needed?
You guy

[2015-10-19 14:22] fsasaki commented on #50
Hi @xFran , I think this issue is about whether this type of output
1   dbc:British_Islands 15.94680660984782
2   dbc:Slavic_countries_and_territories    15.821275727763961
(see top of the issue) is relevant for you, and if not what could be changed. Above type of output is not the entity identification itself but about the topic, I assume this is why @jnehring proposed to have here only topic det

[2015-10-19 14:35] jnehring opened #53 "Feedback on topic detection"
This issue is about collecting feedback on the quality of topic detection. We want to find out if the topic detection implemented by InfAI can solve the requirements of WRIPL when WRIPL asked for a topic detection.

This issue is a fresh start of the long discussion in #50.

[2015-10-19 14:38] jnehring commented on #50
Actually I think this issue is too long. We should close it. I created #53 to collect information about the quality of topic detection. @xFran please start new issues for the bugs you discovered. The issue looks very similar to https://github.com/freme-project/freme-ner/issues/46 maybe you can link in your new issue to https://github.com/freme-project/freme-ner/issues/46

[2015-10-19 14:38] #50 closed

[2015-10-19 14:52] jnehring opened #54 "Make DBPedia Spotlight endpoint configurable"
Please find the part in e-Entity repo that configures the endpoint of DBPedia Spotlight. Then make it configurable via Spring externalized configuration:

http://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-external-config.html

The default value should be the original DBPedia Spotlight endpoint.

More documentation: http://www.mkyong.com/spring3/spring-value-default-value/

[2015-10-19 15:55] xFran opened #55 "FREME NER is not spotting entities"
This is the file with the content. [test.txt](https://github.com/freme-project/e-Entity/files/16119/test.txt)

Some information about the file:
![image](https://cloud.githubusercontent.com/assets/3188361/10582324/2fb29754-767f-11e5-813e-c28b65a08211.png)

cUrl command
[code]

I tried something similar with the opened issue https://github.com/freme-project/freme-ner/issues/46 by removing the first

[2015-10-21 08:47] koidl commented on #53
I've tested following simple text

http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents/?informat=text&input=IBM shares fell more than 5 percent in after-hours trading Monday after the company announced third-quarter revenues that missed expectations, and offered weaker than expected guidance for the year. The tech giant reported earnings of $3.34 per share on $19.28 billion in rev

[2015-10-21 09:01] koidl commented on #53
@m1ci @jnehring quick question: what github issue relates to the idea of using the TYPES to filter the returns a bit more. We simply still get way too many entities. They may all be correct but based on the use case are not needed.

My idea here is to hit it will all we have which is using general purpose (as is now), adding domain specific taxonomies (which looks the same as the wikipedia categor

[2015-10-21 09:04] m1ci commented on #53
dbc:Thomson_Reuters is topic assigned to the dbpedia:Thomson_Reuters entity
dbc:1911_establishments_in_the_United_States is topic assigned to the dbpedia:IBM entity

No, they relate to the entities occurring to the document. If the entity is central in the document, then with high probability the categories will also be relevant for the document. Note that those are categories assigned to the enti

[2015-10-21 09:07] koidl commented on #53
Thanks for your reply @m1ci

Related to the document classification system how much data is required and what kind of data.

In this finance example we get over 1000 topics in a hirarchical list. I assume we need to add training data to each topic? Related to this how much training data and what quality (can we use weblinks to fr example the articel I am using above)?

thanks

[2015-10-21 09:09] m1ci commented on #53
How will you link an entity with a taxonomy entry? Via the Wikipedia categories? Note that there are more than 900K Wikipedia categories.

What do you mean by TYPE? Filtering out entities from a specific domain? For example, spot entities only from the Sports or Politics domain?

There is no such issue. After 0.4 is done, we will continue working on that.

[2015-10-21 09:11] koidl commented on #53
Yes filter a specific domain. In the dbpedia spotlight demo there is a list one can select.

[2015-10-21 09:15] m1ci commented on #53
Very valid question.

Hard to say, depends on the data. Maybe you can first train with lets say some hundreds of docs, see how it performs, and then increase the training size.

Well, for training you'll need some hundreds of documents which will be processed with e-entity and e-terminology. Also you will need topics assigned to each document.
The results from e-entity and e-terminology will be us

[2015-10-21 09:30] koidl commented on #53
ah okay thats what I mean Entity types

We then get three enrichments (please correct me if I am wrong):

1. current general purpose (categories and entities)
2. selection of entity types to narrow the results on a domain
3. the use of domain specific taxnomies via document classification

I have to confess the third is not clear to me exactly. Especially the latter part. My understanding currentl

[2015-10-21 09:45] borriellom commented on #55
I noticed the same issue while I was testing FREME NER by using very simple text.
For example no entities are spot in the text `Welcome to Dublin` and only Dublin (but not Ireland) is recognized as an entity in the text `Dublin is in Ireland`. The e-Entity service with DBpedia Spotlight engine properly recognizes all entities.

First curl request
[code]
Response
[code]

Second curl request
[code]

[2015-10-21 09:51] m1ci commented on #55
This should be solved with https://github.com/freme-project/freme-ner/commit/eae252d765f680c7622dcda953e6cf69371cd3ac
I try and both, Dublin and Ireland are spotted. See http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents/?informat=text&input=Dublin%20is%20in%20Ireland.&outformat=turtle&language=en&dataset=dbpedia

[2015-10-21 09:56] m1ci commented on #55
@xFran

This should be fixed with https://github.com/freme-project/freme-ner/commit/eae252d765f680c7622dcda953e6cf69371cd3ac

I tried, and got China spotted.

[2015-10-21 10:40] josauder commented on #54
Implemented in branch integration-tests. See https://github.com/freme-project/Broker/issues/124

[2015-10-21 10:40] #54 closed

[2015-10-21 11:20] xFran commented on #55
How is that? Did you fixed something? My cUrl was/is wrong?
Please send me your text document along side with the cUrl request so I can test it.
We should close the issue than?

[2015-10-21 11:36] m1ci commented on #55
yes, it was fixed yesterday. That was bug.

[2015-10-21 11:38] xFran commented on #55
I will test it again and if is ok I will close the issue.

[2015-10-21 13:07] jnehring commented on #53
I understood the algorithm that you have to sort all categories according to the score in freme-onto:info and take the top-n. With this algorithm the top 3 categories in your example text are
[code]

But still I cannot see a relation to the text.

[2015-10-23 16:30] borriellom opened #56 "FREME NER - Special characters encoding in taIdentRef URI"
Sometimes entities URIs contain special characters. Such characters are encoded in the URI included in the NIF file and I’m not so sure that the encoding is correct as when I try to open the linked page, the link doesn’t work.

HTTP request
[code]

[code]
The link http://dbpedia.org/resource/Aos_S%25C3%25AD doesn’t work. The correct encoding should be http://dbpedia.org/page/Aos_S%C3%AD

[2015-10-23 16:31] borriellom opened #57 "FREME NER - Brackets coverted to odd characters"
Sometimes it happens that some entities are spotted and the related anchorOf text contains odd characters. It only happens when there is a bracket next to the string. In detail “(“ character is converted to “-LRB-“ and the character “)” is converted to “-BBR-“. The text contained in the context reference is correct.
See resource http://freme-project.eu/#char=113,126 in the example below.

HTTP req

[2015-10-23 16:33] borriellom opened #58 "FREME NER - Entities spotted with empty string in anchorOf field"
While I was testing the service for German language, an entity has been spotted with empty string in anchorOf property, offset “0,0”. It has been recognized as “Berlin”.

German Text
[code]

HTTP Request
[code]

[code]

[2015-10-23 17:03] m1ci commented on #56
It works, only you need to decode to http://dbpedia.org/resource/Aos_Sí.

No, http://dbpedia.org/page/Aos_S%C3%AD is HTML representation of the resource, and it is "informative" resource. The http://dbpedia.org/resource/Aos_S%C3%AD is the correct resource, and that is "non-informative" resource. If you try to dereference http://dbpedia.org/resource/Aos_Sí and ask for HTML, you'll get "informative"

[2015-10-23 17:05] m1ci commented on #58
thanks for report. Weird bug, let us check.

[2015-10-23 17:07] m1ci commented on #57
thanks for reporting, @nilesh-c please check whats wrong.

[2015-10-24 15:18] #55 closed

[2015-10-27 11:53] borriellom commented on #56
Thanks for the explanation. So this is not an actual bug, is it?

[2015-10-27 11:54] m1ci commented on #56
IMO, not.

[2015-10-27 12:41] jnehring commented on #56
Ups sorry I labeled this wrong with error. I suggest to label it as invalid and close the issue.

[2015-10-27 13:42] m1ci commented on #56
makes sense to me.

[2015-10-27 13:53] #56 closed

[2015-10-28 13:02] pheyvaer opened #59 "fremener/documents HTML entity not detected"
If I want to do NER on a example HTML the entity is not recognized. The example is

[code]

[2015-10-28 18:25] m1ci commented on #59
FREME NER was designed and trained on data without markups. We assume a client submits cleaned text without markup. This was announced since the beginning of the development of FREME NER and it is also considered by wripl.

[2015-10-29 07:27] pheyvaer commented on #59
But the API documentation says text/html as input is allowed and also Felix said in an email that e-Entity now supports html as input and output ...

[2015-10-29 07:55] m1ci commented on #59
oh, yes, thats true, sorry for the noise. It now supports HTML via the e-Internationalization service.

There is no entity recognized since the text is very short. Note that FREME NER was trained on long and correctly formatted texts. Your text is short and not grammatically correct - no dot at the end.

If you add dot at the end, or extend the text, e.g. "This is Berlin." or "This is Berlin, a ci

[2015-10-29 08:22] pheyvaer commented on #59
Ok, your example works. However, when I set the accept header to text/html I get

[code]

[2015-10-29 09:24] m1ci commented on #59
Can you share the concrete cURL request? Here is cURL example with `Accept: text/turtle` and it works to me.

    curl -X POST --header "Content-Type: text/html" --header "Accept: text/html" -d @test.html "http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&mode=all" -v

[2015-10-29 09:27] pheyvaer commented on #59
It's the same call as you do, except I use [this file](https://drive.google.com/open?id=0B-qMtkPK-unYUmhVWWFtMUNrV0U).

[2015-10-29 09:31] m1ci commented on #59
oh, this is then bug with the e-Internationalization service. Moving the issue to e-Internationalization repo https://github.com/freme-project/e-Internationalization/issues/27

[2015-10-29 09:31] #59 closed

[2015-11-02 16:23] xFran opened #60 "Unrecognized token 'Madrid': was expecting ('true', 'false' or 'null')"
cUrl:
[code]

Content file
[e-entity.txt](https://github.com/freme-project/e-Entity/files/25435/e-entity.txt)

Response
[code]

[2015-11-03 08:16] m1ci commented on #57
fixed. please check:

    curl -X POST --header "Content-Type: " "http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?input=They%20were%20common%20in%20parts%20of%20Ireland%20and%20the%20Scottish%20Highlands%20in%20the%2019th%20century%2C%20as%20well%20as%20in%20Somerset%20(see%20Punkie%20Night).%20&informat=text&outformat=turtle&language=en&dataset=dbpedia&mode=all" -v

[2015-11-03 08:17] m1ci commented on #58
fixed, please check:

    curl -X POST -H "Content-Type: " "http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?input=Der%20Religionsethnologe%20Sir%20James%20Frazer%20beschrieb%20in%20seinem%20Standardwerk%20The%20Golden%20Bough%20(in%20der%20Ausgabe%20von%201922)%20Halloween%20als%20%E2%80%9Ealtes%20heidnisches%20Totenfest%20mit%20einer%20d%C3%BCnnen%20christlichen%20H%C3%BClle%

[2015-11-03 09:20] borriellom commented on #58
Yes, it's fixed. Well done! I close the issue.

[2015-11-03 09:20] #58 closed

[2015-11-03 09:20] borriellom commented on #57
It's fixed. Well done! I close the issue.

[2015-11-03 09:20] #57 closed

[2015-11-03 13:51] m1ci commented on #60
your request is wrong. You submit plain text but using the `informat` parameter you indicate that you submit JSON, which you don't.

Here is valid request:

    curl -v -d @e-entity.txt "http://api.freme-project.eu/0.3/e-entity/freme-ner/documents?informat=text&outformat=turtle&language=en&dataset=dbpedia" -H "Content-Type:"

[2015-11-04 09:52] #60 closed

[2015-11-09 15:27] ghsnd opened #61 "Generating HTML: entities inside attributes"
I send [this HTML file](https://github.com/freme-project/Broker/files/29975/administration.txt) to e-Entity, and ask to give HTML back. The curl command would look like:

    curl -vX POST --header "Content-Type: text/html" --header "Accept: text/html" -d '@administration.txt' "http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&mode=all"

(The .txt ext

[2015-11-09 15:32] m1ci commented on #61
Processing html is task for the e-Internatinalizations service. So question for marta or jan.

[2015-11-12 08:48] jnehring commented on #61
@borriellom can you fix this problem?

[2015-11-12 16:51] borriellom commented on #61
I opened an issue about this problem freme-project/e-Internationalization#11
I'm afraid we should wait for Okapi development team doing that change mentioned by Yves.
At the moment, when I receive a text unit from Okapi, I cannot discern whether it is actual text or an attribute value.

[2015-11-17 08:39] jnehring commented on #61
I think this is a dublicate of freme-project/e-Internationalization#11 so I close this issue.

[2015-11-17 08:39] #61 closed

[2015-11-23 13:27] xFran opened #62 "Doubt spotted entityes"
In this case Madrid should not be spotted as entity?

I only have 2 entities. "Real Madrid" and "Atlético de Madrid".
[code]

[2015-11-24 13:18] m1ci commented on #62
Should be spotted but note that NER is performed automatically and thus it is never 100% correct. So In this case you received 2 spotted entities out of 3.

[2015-11-24 17:07] xFran commented on #62
I just wanted to know if I'm wrong or right but also  inform about this maybe is there something you can do about to fix it. Thank you.

[2015-11-24 17:07] #62 closed

[2015-11-24 20:40] fsasaki opened #63 "Processing select parts of an RDF graph with FREME"
I am wondering how to achieve the following process using FREME: enrich selected parts of an RDF graph with additional information related to entities described in RDF triples with textual content. See this example
https://taskman.eionet.europa.eu/projects/linkeddata/wiki/DCAT-AP_example
Here you have triples like

&lt;http://nobelprize.org/datasets/dcat#catalog>
  a dcat:Catalog ;
  dc:title "Nob

[2015-11-25 08:30] jnehring commented on #63
There is a possibility with the the [filter endpoint](https://github.com/freme-project/technical-discussion/issues/93). You can remove everything from RDF graph that you do not need and then process only the sub graph.
Unfortunately the part of the RDF graph you dont want to enrich gets lost in this way.

[2015-11-25 08:50] fsasaki commented on #63
Thanks, @jnehring . The issue may be that

&lt;http://nobelprize.org/datasets/dcat#catalog>
a dcat:Catalog ;
dc:title "Nobel Media Dataset catalog"@en .

is not NIF, it is general RDF. Can general RDF be input to a FREME service?

[2015-11-25 09:01] jnehring opened #64 "Is FREME NER case sensitive?"
From D4.2:

the service is currently case sensitive: e.g. “fabrizio celli” using the ORCID dataset returns no result while Fabrizio Celi returns meaningful results

When this is true I believe this could easily be a low hanging fruit to improve FREME NER.

[2015-11-25 09:06] jnehring commented on #63
I think that using a (very complicated) SPARQL query you could transform the general RDF into NIF. The normal e-Services cannot process general RDF but there is no reason for the filter endpoint to forbid general RDF.

But this approach is very complicated. A lot easier to implement is the workflow to 1) Construct a SPARQL query that extracts the plain text on the client side and 2) sending the pl

[2015-11-25 09:14] fsasaki commented on #63
I see. The issue is that above example is just one piece of plaintext. The actual metadata records like
https://taskman.eionet.europa.eu/projects/linkeddata/wiki/DCAT-AP_example
have a lot of plain text strings, so one would need to have potentially a lot of requests to the FREME enrichment services.

[2015-11-25 12:47] pheyvaer opened #65 "NER to include endpoint of resource"
When you perform NER on a text, you get the resources of the entities. However, when more information is needed about a resource, by using e-Link, the endpoint is needed, because we need the endpoint to create a template.

Is it possible to add the endpoint for each resource to the NIF?
This is especially important when the NIF is being used by multiple services, as a certain service might not kno

[2015-11-25 12:49] m1ci commented on #65
By adding this info to each entity will increase the NIF size significantly.

What if we better documented the templates. So that we include information such as: "this template can be used if you performed NER using the DBpedia dataset?". Will this help?

[2015-11-25 12:51] pheyvaer commented on #65
But then you still have to know which dataset was used for e-entity, and this is not always the case.

[2015-11-25 12:55] m1ci commented on #65
well, maybe you can derive the dataset by looking at the entity URIs?
http://dbpedia.org/resource/ for DBpedia
http://orcid.org/ for ORCID
...

[2015-11-25 13:57] pheyvaer commented on #65
This is not possible, as the entity URI do not have to be related to the endpoint URI.

[2015-11-25 14:01] m1ci commented on #65
true, but also entity URI does not need to be present in any endpoint.

Also note that for entity linking is used data which not necessarily should be deployed in some endpoint. So there are two assumptions here:
1) the client should be aware about the entity links from which domain they come
2) the clint should be aware in which datasets these entities are described

[2015-12-01 13:32] m1ci commented on #64
Yes, FREME NER is trained on data with key sensitivity turned on
@nilesh-c please confirm.
We might train to train one more model with case-sensitivity turned off.

[2015-12-02 12:29] ghsnd opened #66 "upload compressed data sets"
An idea for a possible future feature: allow to upload compressed datasets. For instance the traditional RDF serializations compressed with gzip, xz, ..., but also something like [HDT](http://www.rdfhdt.org/) or compressed HDT. This allows larger datasets to be uploaded.

[2015-12-02 12:54] m1ci opened #67 "Linking of a single entity"
Some users might want to perform linking of a single entity. The client provides surface form, e.g. "Diego Maradona", the FREME NER links the entity and returns the results in NIF.

[2015-12-02 13:50] jnehring commented on #66
Good idea. As far as I know GZIP compression is a standard mechanism of HTTP. There are many code examples that enable GZIP compression in Spring MVC. This works on a filter level across all endpoints. Maybe we can add this as a general feature so you can compress data you upload to FREME for enrichment also to save bandwidth.

[2015-12-02 14:05] ghsnd commented on #66
Exactly.

But what I also mean is (offline) RDF-specific compression, to reduce the size of a large dataset drastically. For instance the aforementioned HDT format is a very compact serialization of RDF, and as a plus, it can be further compressed using general compressors like gzip. So if I have a dataset in this format, it would be handy if I can upload it and the server then stores the triples

[2015-12-03 07:35] jnehring commented on #66
The specification of FREME 0.5 is already over. I put it on the [Future feature list](https://docs.google.com/document/d/1F3KR4tsVgGkpcQSW1r0QAZQfw4LtmFv58XpZUs29rQs/edit#) so we can keep this feature in mind in a future version of FREME.

[2015-12-03 07:36] jnehring commented on #53
This issue is no longer up to date and can be closed.

[2015-12-03 07:36] #53 closed

[2015-12-04 13:59] xFran opened #68 "FREME NER calls training"
[code]

This curl command is 100% valid?

[2015-12-04 14:29] xFran commented on #68
We can setup a separate call with all developers from all BC's for this because I have a few more questions more and somebody else may be interested in this also.

 What do you think @m1ci ?

[2015-12-04 14:47] jnehring commented on #68
You specified an empty content type header: I dont think this causes a problem but it makes your http reqeust invalid. I suggest you remove ` --header "Content-Type:"` because you override the content-type with parameter informat anyways.

Unfortunately I cannot reproduce your request because you did not share the request body with us. Do you have problems with the curl command?

You should share

[2015-12-04 15:02] xFran commented on #68
Ok. What is "input" parameter for exactly? Is used in what situations?

[2015-12-04 15:06] jnehring commented on #68
You can use the input parameter to override the post body of a request. You can use it when you want to do a GET request to a FREME e-Service, e.g. through typing a request in the web browser.

You call FREME programmatically so you do not need to use the input parameter. You should submit all data via post body.

[2015-12-04 15:07] xFran commented on #68
What is the max length of the string I can send in "input"?

[2015-12-04 15:08] jnehring commented on #68
I dont know. Maybe 1000 chars?

Why do you need to know this? Just dont use input.

[2015-12-04 15:14] xFran commented on #68
5066 max. I just want to confirm this number. I just checked. After that number I get 414 or 400 or no content.

If I do this in my terminal
[code]

I'm sending the file or the content only of the file?

[2015-12-04 15:20] jnehring commented on #68
The content of the file.

Do you know that you can use the [API documentation](http://api.freme-project.eu/doc/0.4/api-doc/simple.html) to try out API calls? There you dont have to deal with curl so it is way easier. The documentation generates a curl for you so when you have a question about a request  you can just copy curl from there and paste it in your GitHub issue.

[2015-12-04 15:25] xFran commented on #68
I use the API documentation a lot believe me but I have no control there so I prefer to use my own code.

For the raw plain text not readed from a file what do you recommend? Send the content in the POST or in "input" parameter?

[2015-12-04 15:29] jnehring commented on #68
The only reason I see to use the input parameter is to create an API request via the web browsers address bar. In this use case you cannot add a POST body to the request.

In all other cases you should use the POST body to submit data to FREME. Its just easier because in that way you dont have to consider the content length.

[2015-12-04 15:38] xFran commented on #68
Any idea why (I've tried this in python) if I send plain raw text in POST body what  NER is sees is
[code]

and if I send the same text from the same file but a "file-like object" Freme NER sees the body POST like this:

[code]
?

[2015-12-04 15:45] jnehring commented on #68
Checkout this curl:

[code]

It sends your text in the post body and it  produces the correct output. So the error must be in your python script. I cannot debug your python scripts.

It appears to me that you url-encode your text before you put it in the post body. You should put it "raw" in the post body and not url encoded.

[2015-12-04 15:54] xFran commented on #68
I've tried this in python I'm not url encode the POST body

This is the code even if is python is straightforward:
[code]

Maybe what I did here is wrong. Any ideas?

[2015-12-04 16:15] xFran commented on #68
From the curl manual:

              (HTTP)  Sends  the specified data in a POST request to the HTTP server, in the same
              way that a browser does when a user has filled in an HTML form and presses the sub‐
              mit  button. This will cause curl to pass the data to the server using the content-
              type application/x-www-form-urlencoded.

How do you manage the conten

[2015-12-07 14:46] jnehring commented on #68
You can overwrite the Content-Type with parameter informat. Actually when parameter informat is set then we do not take care for the Content-Type header, just process everything that is in the body. So I suggest you just do not use Content-Type header and only the informat parameter.

About stripping newlines: I think for the sake of reproducing an error with curl is ok to have only 99% of control

[2015-12-08 06:05] xFran commented on #68
What is the benefit of overwriting  the Content-Type?  Why not use Content-Type only or at least if is set to have preference over the "informat". I'm missing something here?

[2015-12-08 08:38] jnehring commented on #68
The part from the manual you quoted said that the -d parameter sets the Content-Type header to application/x-www-form-urlencoded so I thought it might be a good idea to override it with informat. But actually I never had problems with curl, the -d parameter and the Content-Type parameter.

So you can use Content-Type header also. No problem.

[2015-12-09 19:26] xFran commented on #68
Why overwriting the Content-Type? Is that helpful in any way? Why not remove informat and not overwriting anything?
I will ask in stackoverflow to see others opinion on this.

[2015-12-09 22:26] xFran commented on #68
Better idea. Just send me the github link to that piece of code where "informat" overwrites the Content-Type header. I will try to understand the logic/algorithm by myself and I will close the issue. Is leading us anywhere.

I still need to know if I'm authorized to use Freme's github repository links in case is necessary to show the code to others developers.

[2015-12-10 01:42] #68 closed

[2016-01-08 10:02] bjdmeest opened #69 "e-Entity NIF of HTML does not return correct whitespace"
When I do following request with the HTML below, the whitespace of the anchorOf values of the returning NIF is incorrect, e.g., instead of nif:anchorOf `Greater \nAthens`, nif:anchorOf `Greater Athens` is returned.

`curl -X POST --header "Content-Type: text/html" --header "Accept: application/ld+json" -d "in.html" "http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?language=en&d

[2016-01-08 10:38] fsasaki commented on #69
This may be an aspect of the underlying e-Internationalisation service. Adding @borriellom to see what she thinks. If you want to keep line breaks in &lt;p> html element adding a &lt;br> element may help.

[2016-01-08 10:42] bjdmeest commented on #69
The problem is not HTML specific, the result is the same for a pure textual input as well. Greater Athens is detected, which is good, but the nif:anchorOf does not match with the original text.

[code]

[2016-01-08 10:57] fsasaki commented on #69
Thanks for pointing this out, @bjdmeest , so this is indeed a different issue.

[2016-01-08 13:22] jnehring commented on #69
The same problem occurs in DBPedia Spotlight.

[2016-01-12 19:16] nilesh-c opened #70 "Exclamation marks problem?"
Turin is spotted here:
```curl -d 'Welcome to Turin! It is the most important city in Italy, next to Rome and Florence.' -X POST "http://rv2622.1blu.de:8080/api/entities?language=en&dataset=dbpedia&numLinks=1"```

but not here:
```curl "http://api.freme-project.eu/0.4/e-entity/freme-ner/documents?input=Welcome%20to%20Turin20It%20is%20the%20most%20important%20city%20in%20Italy%2C%20next%20to%20Rome

[2016-01-13 09:02] m1ci commented on #70
you have typo in the second command. you have ...to%20Turin20It... but it should be to%20Turin/20It... note the missing %

... there is no str/replace post-processing

[2016-01-13 13:49] nilesh-c commented on #70
Oops, sorry, URL encoding problems. Correct version for reference:

curl -X POST --header "Content-Type: text/plain" --header "Accept: text/n3" -d "Welcome to Turin! It is the most important city in Italy, next to Rome and Florence." "http://api.freme-project.eu/0.4/e-entity/freme-ner/documents?informat=text&outformat=turtle&language=en&dataset=dbpedia&mode=all"

[2016-01-13 13:49] #70 closed

[2016-01-20 14:22] m1ci commented on #67
done. To link single entity you need to send the name of the entity (surface form) as body of the request or as value of the `input` parameter. Next, you need to specify the `informat` parameter to `text` and the `mode` should be `link`.
Here is an example:
http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents/?informat=text&input=FC%20Inter%20Milan&outformat=turtle&language=en&data

[2016-01-20 14:25] m1ci commented on #67
@ArneBinder  can you please update the documentation accordingly?

[2016-01-25 08:43] pheyvaer commented on #67
@m1ci When I do the following `curl` command I get an ExternalServiceFailedException.

[code]
The exception is
[code]

[2016-01-25 10:35] pheyvaer commented on #67
@ArneBinder Could you ping me when the documentation is updated?

[2016-01-26 10:34] ArneBinder commented on #67
Sorry, this completely slipped my mind. In general, @josauder restructured a lot of the documentation page, he is much more into it. I will forward this to him, it should be fixed tomorrow.

[2016-01-27 11:07] josauder commented on #67
Sorry but could you please quickly elaborate on what exactly is different about linking a single entity with the curl you provided as opposed to just normally calling e-entity service with the `mode` parameter set to `link`?

[2016-01-27 11:11] m1ci commented on #67
well, not mode=link has following logic:
- mode=link and input is a text - the input text will be considered as a single entity, and it will be linked to an entity in the specified dataset
- mode=link and input is RDF/NIF - all entities in the input NIF, will be linked to database instances

Does this answer your question?

[2016-01-27 11:38] josauder commented on #67
I documented this in the api-doc unter `e-entity/freme-ner/documents` under `mode` parameter. If you agree with the way it is Documented, go ahead and close this issue.

The `mode` parameter Documentation is now rather lengthy - I am open for different suggestions.

[2016-01-27 12:57] pheyvaer commented on #67
Based on my tests, the API behaves as the documentation states.

[2016-02-08 18:56] xFran opened #71 "FREME NER Poor entities spotting in german"
I'm using Postman but this it will be the equivalent using cUrl:

[e-entity-test.txt](https://github.com/freme-project/e-Entity/files/122048/e-entity-test.txt)

I get back only 2 entities

`
{
    "@id" : "http://freme-project.eu/#char=1950,1960",
    "@type" : [ "nif:RFC5147String", "nif:String", "nif:Phrase", "nif:Word" ],
    "nif:anchorOf" : "Passiflora",
    "beginIndex" : "1950",
    "endInd

[2016-02-08 19:16] xFran commented on #71
The strange part.. if the language is set up to "en" I get much more entities.

[2016-02-08 21:41] m1ci commented on #71
I don't see any problem here. FREME NER successfully spotted three named entities - that is the name of the flower - Passiflora. In this text no other named entities occur except that named entity. I recommend that you represent textual documents as a set of named entities and terms. In this text, there is only one entity (Passiflora) but many other terms.

[2016-02-09 10:49] xFran commented on #71
I have this text now
[e-entity-test.txt](https://github.com/freme-project/e-Entity/files/122889/e-entity-test.txt) witch is the content of the article from this blog http://www.gartenjournal.net/passionsblume-duengen.
By when this content was indexed I got ([{"tag":"Passiflora","score":"0.94"}]) as entity and ([{"term":"Passionsblume","score":"1.00"}]) as term only. One entity and one term.
**Mayb

[2016-02-09 16:53] xFran commented on #71
Actually if I use language=en I get more entities even if the content is in german and with language=de parameter less entities. One only. Well two but the same entity "Passiflora"
I just checked again.
This must be a bug.

[2016-02-09 17:27] nilesh-c commented on #71
@xFran this is more like an enhancement/feature request than a bug. e-Terminology is supposed to give back terms and phrases, while e-Entity is supposed give named entities only (usually proper nouns - _names_ of persons/orgs/locations/books/things) and that's how the freme-ner NER models are trained. The German example text doesn't have many of that. The English spotter obviously gives you more r

[2016-02-10 08:50] xFran commented on #71
@nilesh-c because we use terms for different things.

I tried Spanish which is one of the languages I can handle.
99% aprox. of the entities are the same using language=en and language=es as parameter.
The only thing is not the same is the confidence for each entity. Surprising some of the entities has higher confidence in english than spanish.

Checkout this files.
[resp_es.txt](https://github.co

[2016-02-10 14:07] m1ci commented on #71
In the document only Passifolora is an entity and FREME NER with `language=de` successfully spots it.

Selecting `language=en` might spot other entities, in your case more entites. But those are incorrectly spotted. In German (I dont speak German), there can be nouns that start with capital letter - E.g. Ich liebe Fußball zu spielen. By setting `language=en` and processing German text, will probab

[2016-02-10 14:11] xFran commented on #71
Ok. And what about Spanish then? I speak spanish. The entities are not bad.
Did you have a chance to take a look at those files?

[2016-02-10 14:16] m1ci commented on #71
I would not recommend tricking FREME NER. If you think it makes sense to process English texts with Spanish NER model (or the other way around), just go ahead, but I would not recommend doing that.

The English entity spotting model was trained on English texts. The Spanish on Spanish texts.
Maybe English and Spanish language have similar written structure, so Spanish entity spotting model might w

[2016-02-10 14:23] xFran commented on #71
It will be an interested feature for FREME to automatically detect the content language and if is supported or not by FREME NER .

Believe me, latin languages such Italian, Spanish, French, Romanian  has nothing to do with the structure of English language or Germanic based languages in general.

Ok. If is not considered a bug I will close the issue.

[2016-02-10 14:23] #71 closed

[2016-02-10 14:46] m1ci commented on #71
OK, let me research if having auto detection of language can be integrated and what resources are available.

[2016-02-10 15:43] nilesh-c commented on #71
@xFran the thing is, the German text you submitted does not have more than 1-2 named entities (assuming we agree on the narrow traditional definition of named entities here) - a German colleague confirmed for me.

[2016-02-10 17:14] xFran commented on #71
@nilesh-c Just click on the Aylien link as it is after that hit the blue button "Analyse"

[Aylien](http://aylien.com/text-api-demo?text=Passiflora%2C+wie+die+Passionsblume+botanisch+korrekt+hei%C3%9Ft%2C+hat+ihre+Heimat+in+den+tropischen+und+subtropischen+Klimazonen+des+s%C3%BCdamerikanischen+Kontinents.+Nichtsdestotrotz+ist+sie+recht+unempfindlich+gegen%C3%BCber+den+bei+uns+vorherrschenden+Tempe

[2016-02-10 18:21] fsasaki commented on #71
Thanks for the reference to Aylien, @xFran . Do you have a pointer to the Alien  documentation and the way Alien demonstrates the services? We are currently updating documentation, so having this may be very helpful.

[2016-02-15 14:27] jnehring commented on #64
any update here?

[2016-02-15 14:31] m1ci commented on #64
nothing to report here. But, its on our todo list.

[2016-02-17 18:27] m1ci commented on #69
@bjdmeest this is related to https://github.com/freme-project/freme-ner/issues/59
See the discussion and the solution in https://github.com/freme-project/freme-ner/issues/59

[2016-02-17 18:28] m1ci commented on #67
according to Pieter we can close the issue.

[2016-02-17 18:28] #67 closed

[2016-02-17 18:29] m1ci commented on #64
@jnehring should we create new issue for this since this "question" kind of issue?

[2016-02-17 18:31] m1ci commented on #51
seems to be a "dead" issue. Closing it. If further discussion is needed feel free to reopen it.

[2016-02-17 18:31] #51 closed

[2016-02-18 08:17] jnehring commented on #64
I put it on the [Future feature list](https://docs.google.com/document/d/1F3KR4tsVgGkpcQSW1r0QAZQfw4LtmFv58XpZUs29rQs/edit). So there is no need for a new issue. I think for FREME 0.6 we already have so many features that we do not need to put this also on the plate.

[2016-02-18 08:17] #64 closed

[2016-02-18 14:00] xFran opened #72 "Entity not related to the context"
cUrl command:
`curl -X POST --header "Content-Type: text/n3" --header "Accept: text/n3" "http://api.freme-project.eu/0.5/e-entity/freme-ner/documents?input=Nice%20to%20be%20here%20in%20Berlin.%20Berlin%20is%20the%20capital%20of%20the%20Germany.&informat=text&outformat=json-ld&language=en&dataset=dbpedia&mode=all"`

"Nice" is spotted as an entity and a location. I know it's a city in France but thi

[2016-02-18 14:01] m1ci commented on #72
you are right

[2016-02-18 14:03] xFran commented on #72
Ok. Thanks @m1ci

[2016-02-18 14:03] #72 closed

[2016-02-19 08:23] bjdmeest commented on #69
Actually, the curl below (so without --data or --data-binary) also does not return the correct result (i.e., `nif:anchorOf          "Greater Athens"^^xsd:string ;` instead of `nif:anchorOf          """Greater`<br/>`Athens"""^^xsd:string ;`).

[code]

Neither does the ajax request below

[code]

[2016-02-19 08:40] m1ci commented on #69
Thanks we will investigate this and get back to you.

[2016-02-19 08:57] m1ci commented on #69
@sandroacoelho can you look at it? See the explanation bellow

Following request:

curl -v "http://rv2622.1blu.de:8081/api/entities?format=TTL&language=en&dataset=dbpedia" --data-binary @doc.txt
where the document is [doc.txt](https://github.com/freme-project/e-Entity/files/137634/doc.txt)

In the results we get
nif:anchorOf          "Greater Athens"^^xsd:string ;

but it should be
nif:anchorOf

[2016-02-23 07:51] m1ci commented on #65
IMO this is big and open research question: know in which endpoint a resource can be found. Closing the issue.

[2016-02-23 07:51] #65 closed

[2016-02-26 09:47] jnehring opened #73 "migrate DBPedia Spotlight"

[2016-03-29 13:46] jnehring commented on #73
dublicate of https://github.com/freme-project/e-Entity/issues/73

[2016-03-29 13:46] #73 closed

[2016-03-30 09:10] jnehring commented on #39
This is no longer up to date

[2016-03-30 09:10] #39 closed

[2016-05-12 07:39] jnehring commented on #46
This issue is outdated. We already have a feature for domain specifiy ner now.

[2016-05-12 07:39] #46 closed

[2020-11-13 16:54] redadmiral opened #74 "API endpoint not resolvable"
Hi there,
trying to curl the `e-entitiy` endpoint via
[code]
curl responds with
[code]
Best wishes,
Marco

[2020-11-16 13:47] jnehring commented on #74
Hi Marco,

I am sorry but we are facing a problem with the server. We could not solve it in the last months. I hope we can solve it soon but it will take at least some more weeks.

All the best Jan